@using ForgAkademija.Models
@model Bill

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <h5 class="d-flex justify-content-center">Da li ste sigurni da želite da otkažete kurs @ViewData["courseName"]?</h5>
        <form asp-action="DeleteBill" class="d-flex justify-content-center">
            <input type="hidden" asp-for="billId" />
            <input type="hidden" asp-for="cardNumber" />
            <input type="hidden" asp-for="cvcCode" />
            <input type="hidden" asp-for="courseId" />
            <input type="hidden" asp-for="cardValidityPeriod" />
            <input type="hidden" asp-for="userId" />
            <div class="d-grid gap-2 mt-5">
                <input type="submit" value="Potvrdi" class="btn btn-outline-danger" /> &nbsp;
            </div>
        </form>
    </div>
</div>