<div class="container py-4">
    <h1 class="text-soft-blue text-center mb-4"><i class="fa-solid fa-house-user"></i> Moderator panel</h1>
    <div class="card bg-dark-blue mt-3 p-4">
        @await Component.InvokeAsync("CoursesTable")
    </div>
</div>